PORT=4000
MONGODB_URI=mongodb+srv://<user>:<pass>@<cluster>/<db>
JWT_SECRET=una_clave_larga_y_segura
JWT_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:5173
CORS_ORIGINS=https://precios-seven.vercel.app,https://tu-frontend-principal.vercel.app
