PORT=4000
MONGODB_URI=mongodb+srv://<user>:<pass>@<cluster>/<db>
JWT_SECRET=una_clave_larga_y_segura
JWT_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:5173
CORS_ORIGINS=https://precios-seven.vercel.app,https://tu-frontend-principal.vercel.app
DOPPLER_API_KEY=tu_api_key_de_doppler
DOPPLER_ACCOUNT_EMAIL=tu_cuenta@ejemplo.com
DOPPLER_LIST_ID=123456
