PORT=3001
MONGODB_URI=mongodb+srv://maturojo123mdq_db_user:6HOa2CKSY4i9PiRi@cluster0.zbhwmqn.mongodb.net/?appName=Cluster0
WHATSAPP_TOKEN=tu_access_token_de_meta
WHATSAPP_VERIFY_TOKEN=un_string_secreto_cualquiera
WHATSAPP_PHONE_NUMBER_ID=107495285417549
FRONTEND_URL=http://localhost:5173
